# Android Studio / Gradle
.gradle/
build/
app/build/
local.properties
*.iml
.idea/workspace.xml
.idea/libraries/
.idea/modules.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/caches/

# Built artifacts
*.apk
*.aar
*.jar
app/release/

# System files
.DS_Store
Thumbs.db

# Misc
captures/
.externalNativeBuild/
.cxx/
*.hprof
